<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Add a new task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="OnSubmit()">
        <p>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" [(ngModel)] = "taskDescription"/>
        </p>  
        <p>
          <label for="status">Status</label>
          <select name="Status" id="status" [(ngModel)]="taskStatus">
            @for (item of taskStatusList; track $index)
            {
            <option value="{{item.value}}">{{item.label}}</option>
            }
          </select>
        </p>
        <p>
          <button type="submit">Submit</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>